<div class="container" onload="getPosts()">
  <div class="card">
    <div class="card-body" id="cardBody">

      <div>
        <h1><img src="../../assets/delibird.gif">Submitted Trade Requests</h1>
        <table class="table table-bordered table-light">
          <thead class="thead-dark">
          <tr>
            <th scope="col">PostID</th>
            <th scope="col">Poke1</th>
            <th scope="col">Poke2</th>
            <th scope="col">Description</th>
            <th scope="col">Agree/Deny</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
