<div class="container">
  <div class="card">
    <div class="card-body" id="cardBody">

      <div>
        <h1><img src="../../assets/delibird.gif">Submitted Trade Requests</h1>
        <table class="table table-bordered table-light">
          <thead class="thead-dark">
          <tr>
            <th scope="col">PostID</th>
            <th scope="col">Poke1</th>
            <th scope="col">Poke2</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let currentPost of Postings; let i=index" [attr.data-index]="i">
            <td>{{currentPost.post_Id}}</td>
            <td>{{currentPost.trade_pokemon}}</td>
            <td>{{currentPost.receive_pokemon}}</td>
            <td>{{currentPost.description}}</td>
            <td>{{currentPost.status}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    let i = 0;
  </script>
</div>
