<h1>
  Welcome Trainers!
</h1>
<div class="container">
  <div class="card rounded-0">
    <div class="card-header">
      <h2>Login Form</h2>
    </div>
    <div class="card-body">
      <form class="form-group" typeof="Post">
        <div>
          <label class="text-center">TrainerID: </label>
          <br>
          <input type="text" id="emailField" name="usernamebox" class=" form-control text-center" placeholder="Where you put your username" style=" margin-left: ; max-width:1000px; alignment: center">
          <br>
          <label class="text-center">Password</label>
          <br>
          <input type="password" id="passField" name="passwordbox" class="form-control text-center" placeholder="Insert Password here" style="max-width: 1000px; alignment: center">
          <br>
          <br>

          <button id="Submitter" class="btn btn-primary" style="alignment: center;"><img src="../../assets/charizard.gif" />(Login) Continue Adventure</button>
          <br>
          <a routerLink="/register"><button id="Registerbtn" class="btn btn-secondary" style="max-height: 500px" ><img src="../../assets/charmander.gif"/>Start New Adventure (Register)</button></a>
          <br>
        </div>
      </form>
    </div>

  </div>
  <div id="centerer" class="img-fluid"></div>
</div>
