<h1 class="text-center">
  Welcome Trainers!
</h1>
<div class="container text-center">
  <div class="card rounded-0">
    <div class="card-header">
      <h2>Login Form</h2>
    </div>
    <div class="card-body">
      <form class="form-group">
        <div>
          <label class="text-center">Trainer Username</label>
          <br>
          <input type="text" id="UserField" name="usernamebox" class=" form-control text-center" placeholder="What do other trainers call you" style=" margin:0 auto;alignment: center">
          <br>
          <label class="text-center">Password</label>
          <br>
          <input type="password" id="passField" name="passwordbox" class="form-control text-center" placeholder="Insert Password here" style="margin: 0 auto; alignment: center">
          <br>
          <br>

          <button id="Submitter" class="btn btn-primary" style="alignment: center;" formaction="/userscreen"><img src="../../assets/charizard.gif" />(Login) Continue Adventure</button>
          <br>
          <br>
          <a routerLink="/register"><button id="Registerbtn" class="btn btn-secondary" style="max-height: 500px"><img src="../../assets/charmander.gif"/>Start New Adventure (Register)</button></a>
          <br>
        </div>
      </form>
    </div>

  </div>
  <div id="centerer" class="img-fluid"></div>
</div>
