<app-navbar></app-navbar>
<div class="container">
  <div class="card rounded-bottom">
    <div class="card-header">
      <div class="row justify-content-center mb-2">
        <h3 class="card-text">Your Boxes</h3>
      </div>
      <div class="row justify-content-center mb-2">
        <button class="btn btn-info btn-block col-4" type="submit" name="button" (click)="onSubmit()"><h4>Get Pokemon</h4></button>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="showing">
        <table id="box" class="table table-borded table-light">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Appearance</th>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Type(s)</th>
              <th scope="col">Base Stats</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let pokemon of currentPoke">
              <td>{{pokemon.sprites.front_default}}</td>
              <td>{{pokemon.id}}</td>
              <td>{{pokemon.name}}</td>
              <td>
                <div *ngFor = "let types of currentPoke.types">
                  {{types.type.name}}
                </div>
              </td>
              <td>
                <div *ngFor = "let stats of currentPoke.stats">
                  {{stats.stat.name}}: {{stat.base_stat}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
