<app-navbar></app-navbar>
<div class="container">
  <div class="card">
    <div class="card-body" id="cardBody">

      <div>
        <h1 class="text-center"><img src="../../assets/delibird.gif">Trade Requests<img src="../../assets/pelipper.gif"></h1>
        <h6><img src="../../assets/124.gif" style="display: inline"/><h3 style="display: inline">Description</h3><img src="../../assets/125.gif"><br>You can't catch them all alone! Users who have submitted request on this page are looking to trade their Pokemon for ones they might need!
            Please note that because you're doing this through a non-official link your pokemon won't evolve like they would under normal trade conditions!</h6>
        <table class="table table-bordered table-light">
          <thead class="thead-dark">
          <tr>
            <th scope="col">PostID</th>
            <th scope="col">Poke1</th>
            <th scope="col">Poke2</th>
            <th scope="col">UserID</th>
            <th scope="col">Agree/Deny</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
